.test{
	border:1px, black, solid;
	color:color:#fff;
	background-color:#171E36;
}

/*#writeTodoBox{
	width:200px;
}*/

.todoCantainer,.todoTitle{
	font:16px;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	box-shadow: 0 8px 6px -6px black;
}
.todoCantainer{
	
}

.todoTitle{
	background-color:#DC4156;
	height:50px;
}

.todoTitle p{
	line-height:50px;
	vertical-align:middle;
	margin-left:25px;
}

.todoItem{
	background-color:#272F4B;
	color:#fff;
	padding-left:5px;
	font-size:14px;
	/*width:200px;*/
}